<form class="well" (submit)="addProduct($event)">
    <div class="form-group">
      <input type="text" [(ngModel)]="sku" name="sku" class="form-control" placeholder="Add SKU...">    
    </div>  
</form>

<div class="product-list">
  <div *ngFor="let product of products">
      <div class="col-md-3">
            {{product.sku}} 
      </div>
      <div class="col-md-3">
            {{product.upc}}    
      </div> 
      <div class="col-md-3">
            {{product.name}}    
      </div> 
      <div class="col-md-3">
          <input type="button" (click)="deleteProduct(product.sku)" value="Delete" class="btn btn-danger">    
      </div>
      <br><br>
  </div>
</div>